<!DOCTYPE html>
<html>
  <head>
    <style>
       /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
    </style>
  </head>
  <body>
    <h1>Admin Page</h1>
    <h2>Number of students: <%=@students.length%></h2>
    <h2>Number of providers: <%=@providers.length%></h2>
    <h2>Number of shared networks: <%=@active_contracts.length%></h2>
    <h3>Students (circle) + Shared Networks (arrow) Maps</h3>
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
    // Initialize and add the map
    function initMap() {
    // The location of students
    <% @students.each do |student| %>
        var student_<%=student.id%> = {lat: <%=student.latlong.split(',').first%>, lng: <%=student.latlong.split(',').last%>};
    <% end %>
    // The location of providers
    <% @active_contracts.each do |contract| %>
        var provider_<%=contract.provider.id%> = {lat: <%=contract.provider.latlong.split(',').first%>, lng: <%=contract.provider.latlong.split(',').last%>};
    <% end %>    
    // The map, centered at the first student
    var map = new google.maps.Map(document.getElementById('map'), {zoom: 15, center: student_<%=@students.first.id%>});
    // The markers, positioned for each student
    <% @students.each do |student| %>
        var marker_<%=student.id%> = new google.maps.Marker({
            position: student_<%=student.id%>, 
            icon: {
                path: google.maps.SymbolPath.CIRCLE,
                scale: 3
              },            
            map: map
        });
    <% end %>
    // The markers, positioned for each provider
    <% @active_contracts.each do |contract| %>
        var marker_<%=contract.provider.id%> = new google.maps.Marker({
            position: provider_<%=contract.provider.id%>, 
            icon: {
                path: google.maps.SymbolPath.BACKWARD_OPEN_ARROW,
                scale: 2
              },            
            map: map
        });
    <% end %>    
    }
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%=@api_key%>&callback=initMap">
    </script>
</body>
</html>